<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696930911713-b3dc4f4jksh3tjuqhqkv822a4mdro8a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696930911713-b3dc4f4jksh3tjuqhqkv822a4mdro8a9</string>
	<key>API_KEY</key>
	<string>AIzaSyBf6VgiDjZnzszaEkEyzf0dZhkPUDw7q9A</string>
	<key>GCM_SENDER_ID</key>
	<string>696930911713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventsApp</string>
	<key>PROJECT_ID</key>
	<string>eventsapp-c7844</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsapp-c7844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696930911713:ios:58af5ffd739481c934fea0</string>
</dict>
</plist>